.mainGameContainer{
 position: absolute;
 top: 0px;
 left: 0px; 
 visibility: hidden;
 width: 100%;
 &--visible{
   grid-row: 2/3;
   visibility: visible;
  }
}

.letsRock{
  visibility:  hidden;
  position: absolute;
  object-fit: contain;
  pointer-events: none;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

}
.gameOverContainer{
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.356);
  visibility: hidden;
  &.visible{
    visibility: visible;
  }
}
.gameOverPanel{
  min-width: 370px;
  min-height: 215px;
  position: absolute;
  left: 735px;
  top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 22px;

  &.necoArc{
    background-color: #BFB264;
  }  
  &.necoChaos{
    background-color: #4F37A3;
  }

  &__text{
    margin-top: 14px;
    font-size: 64px;  
    font-family: 'jotiOne';
    &.necoArc{
      color: black;
    }
    &.necoChaos{
      color: #FFF8F8;
    }
  }

  &__restartButton{
    min-width: 92px;
    min-height: 92px;
    cursor: pointer;
    &.necoArc{
      background-image: url('../assets/images/restartButtonNecoArc.png');
      &:hover{
        background-image: url('../assets/images/restartButtonNecoArcHover.png');
      }
    }
    &.necoChaos{
      background-image: url('../assets/images/restartButtonNecoChaos.png');
      &:hover{
        background-image: url('../assets/images/restartButtonNecoChaosHover.png');
      }
    }
  }
}

.mainGamePage{
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  position: relative;
  &__boardContainer{
    display: flex;
    gap: 52px;
    position: relative;
  }
   
  &__textBox{
    width: 1119px;
    height: 70px;
    border-radius: 8px;
    margin-left: 359px;
    display: flex;
    font-family: 'mclaren';
    font-size: 24px;
    align-items: center;
    box-shadow: 0px 4px 4px $shadowColor;
    &>span#botIcon{
      margin-left: 14px;
    }

    &>span#playerIcon{
      margin-right: 14px;
    }

    &--necoChaos#playerTextBox{
      color: white;
      margin-top: 32px;
      margin-bottom: 10px;
      padding-left: 8px;
      @extend .mainGamePage__textBox;
      background-image: linear-gradient(90deg, rgba(94,57,174,1) 0%, rgba(45,63,126,1) 100%);
      & > span{
        background-image: url(../assets/images/ChaosLeft.png);
        width: 60px;
        height: 60px;
      }
      &.attacking{
        border: 3px solid #22C912;
      }
    }
    &--necoArc#botTextBox{
      padding-right: 8px;
      color: black;
      @extend .mainGamePage__textBox;
      background-image: linear-gradient(90deg, rgba(166,153,25,1) 0%, rgba(216,211,102,1) 100%);
      & > span{
        margin-left: auto;
        background-image: url(../assets/images/ArcRight.png);
        width: 60px;
        height: 45px;
      }
      
      &.attacking{
        border: 3px solid #22C912;
      }
      
    }
    
    &--necoArc#playerTextBox{
      margin-top: 32px;
      color: black;
      margin-bottom: 10px;
      padding-left: 8px;
      @extend .mainGamePage__textBox;
      background-image: linear-gradient(90deg, rgba(216,211,102,1) 0%, rgba(161,149,32,1) 100%);
      & > span{
        background-image: url(../assets/images/ArcLeft.png);
        width: 60px;
        height: 45px;
      }
      &.attacking{
        border: 3px solid #22C912;
      }
    }
    
    &--necoChaos#botTextBox{
      padding-right: 8px;
      color: white;
      @extend .mainGamePage__textBox;
      background-image: linear-gradient(90deg, rgba(45,63,126,1) 0%, rgba(107,67,191,1) 100%);
      & > span{
        
        background-image: url(../assets/images/ChaosRight.png);
        width: 60px;
        height: 60px;
      }
      
      &.attacking{
        border: 3px solid #22C912;
      }
      
      
    }

    &--necoArc  > .blinkingBar{
      @extend %textEffect;
      background-color: red;
    }

    &--necoChaos  > .blinkingBar{
      @extend %textEffect;
      background-color: #01093d;
    }

    
  }  

}


#botTextBox{
  & > .blinkingBar{
    margin-left: auto;
    left: 0px;
  }
}

.boardContainer{
  &__gameBoard--necoArc{
    @extend %gameboard;
    border-color: #A19520;
    
  }
  &__gameBoard--necoChaos{
    @extend %gameboard;
    border-color: #5E39AE;
  }

  
}

#playerGameboard{
  margin-left: 351px;
}

.boardContainer__gameBoard--necoChaos > .playerGameboard{
  &__boardRow{
    display: flex;

    & .playerGameboard__boardCell{
      @extend %boardCell;
  
      &:hover:not(.boardCell--attacked){
        background-color: #7a819f;
      }
      
      &.boardCell--attacked{
        position: relative;
        cursor: default;
        &:hover{
          background-color: inherit
        }
        &::after{
          position: absolute;
          content: "X";
          top: 0px;
          left: 0px;
          font-size: 30px;
          color: #ccc824;
          background-color: rgba(0, 0, 0, 0.275);
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'frijole';
        }
      }
      &.boardCell__withImage{
        background-size: cover;
      }
      &.animating > span{
        content: '';
        position: absolute;
        top: -200px;
        left: -250px;
        z-index: 1;
        width: 69px;
        height: 34px;
        background-image: url('../assets/images/arcAttack.gif');
        animation: necoAttack .70s cubic-bezier(0, 0.43, 0.99, 0.26) 1 normal forwards;
      }
    }
  }
  
}
.boardContainer__gameBoard--necoChaos > .botGameboard{
  &__boardRow{
    display: flex;
    
    & .botGameboard__boardCell{
      @extend %boardCell;
      cursor: crosshair;
      &:hover:not(.boardCell--attacked){
        background-color: #7a819f;
      }
      &.boardCell--attacked{
        position: relative;
        cursor: default;
 
        &::after{
          position: absolute;
          content: "X";
          top: 0px;
          left: 0px;
          font-size: 30px;
          color: #ccc824;
          background-color: rgba(0, 0, 0, 0.275);
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'frijole';
          :hover{
            background-color: #ABB5dc;
          }
        }
      }
      &.boardCell__withImage{
        background-size: cover;
      }
      &.animating > span{
        content: '';
        position: absolute;
        top: -200px;
        left: -250px;
        z-index: 1;
        width: 69px;
        height: 34px;
        background-image: url('../assets/images/arcAttack.gif');
        animation: necoAttack .70s cubic-bezier(0, 0.43, 0.99, 0.26) 1 normal forwards;
      }

    }
    
  }
  
}


.boardContainer__gameBoard--necoArc > .botGameboard{
  &__boardRow{
    display: flex;
    .botGameboard__boardCell{
      @extend %boardCell;
      cursor: crosshair;
      background-color: #D4C3AA;
      border-color: black;
      &:hover:not(.boardCell--attacked){
        background-color: #9d9282;
      }
      &.boardCell--attacked{
        cursor: default;
        position: relative;
 
        &::after{
          position: absolute;
          content: "X";
          top: 0px;
          left: 0px;
          font-size: 30px;
          color: #442782;
          background-color: rgba(0, 0, 0, 0.475);
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'frijole';
        }
      }
      &.boardCell__withImage{
        background-size: cover;
        
      }

      &.animating > span{
        content: '';
        position: absolute;
        top: -200px;
        left: -250px;
        z-index: 1;
        width: 69px;
        height: 34px;
        background-image: url('../assets/images/chaosAttack.gif');
        animation: necoAttack .70s cubic-bezier(0, 0.43, 0.99, 0.26) 1 normal forwards;
      }
      
      
    }
  }
  
  
  
}
.boardContainer__gameBoard--necoArc > .playerGameboard{
  &__boardRow{
    display: flex;
    .playerGameboard__boardCell{
      @extend %boardCell;
      background-color: #D4C3AA;
      border-color: black;
      &:hover:not(.boardCell--attacked){
        background-color: #9d9282;
      }
      &.boardCell--attacked{
        cursor: default;
        position: relative;
        &:hover{
          background-color: rgba(0, 0, 0, 0.475);
        }
        &::after{
          position: absolute;
          content: "X";
          top: 0px;
          left: 0px;
          font-size: 30px;
          color: #442782;
          background-color: rgba(0, 0, 0, 0.475);
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'frijole';
        }
      }
      &.boardCell__withImage{
        background-size: cover;
      }
      &.animating > span{
        content: '';
        position: absolute;
        top: -200px;
        left: -250px;
        z-index: 1;
        width: 69px;
        height: 34px;
        background-image: url('../assets/images/chaosAttack.gif');
        animation: necoAttack .70s cubic-bezier(0, 0.43, 0.99, 0.26) 1 normal forwards;
      }
     
    }
  }



}