.placeShipContainer{
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  &--visible{
    grid-row: 2/3;
    visibility: visible;
  }
}

@keyframes slideDown {
  0%{
    transform: translateY(-1000px);
    opacity: .8;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.placeShipPage{
  width: 1267px;
  height: 750px;
  margin: 57px auto 0px;
  background-color: #170E2E;
  border-radius: 35px;
  user-select: none;
  opacity: 0;
  display: grid;
  grid-template-columns: 584px 1fr;
  &--slideDown{
    @extend .placeShipPage;

    animation: slideDown .5s ease .5s 1 normal forwards;

  }

  // Temporary
  &--visible{
    @extend .placeShipPage;
    opacity: 1;
  }

  &__gridContainer{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
  }

  &__shipContainer{
    grid-column: 2/3;
    padding-left: 33px;
    display: flex;
    flex-direction: column;
  }
  
  &__buttonContainer{
    display: flex;
    gap: 25px;
  }
  
  &__resetButton{
    @extend %placeShipButtons;
    background-color: #963232;
    width: 200px;
    height: 60px;
    margin-left: 54px;
  }
  
  &__continueButton{
    @extend %placeShipButtons;
    width: 302px;
    height: 60px;
    color: white;
    &--invalid{
      @extend .placeShipPage__continueButton;
      background-color: rgba($color: #3E7E20, $alpha: 0.3);
      color: rgba($color: #ffffff, $alpha: .3);
    }
    &--valid{
      @extend .placeShipPage__continueButton;
      background-color: #3E7E20;
    }

    
  }
  &__reshuffleButton{
    @extend %placeShipButtons;
    background-color: #951D6C;
    width: 311px;
    height: 60px;
    cursor: pointer;
    align-self: center;
    margin-top: 26px;
  }

  &__title{
    font-family: 'jotiOne';
    font-size: 64px;
    align-self: center;
    color: white;
    user-select: none;
    margin-top: 6px;
  }


}



.shipAxisButton{
  @extend %placeShipButtons;
  margin-top: 18px;
  width: 269px;
  align-self: center;
  margin-left: 24px;
  background-color: #275AA7;
}

.placeShipBoard{
  width: 540px;
  height: 540px;
  margin-left: auto;
  border-radius: 20px;
  border: 20px solid #373592;
  margin-top: 19px;
  margin-bottom: 20px;
  &__boardRow{
    display: flex;
  }
  &__boardCell{
    width: 50px;
    height: 50px;
    border: solid 1px;
    background-color: #ABB5DC;
    &:hover{
      background-color: #7a819f;
    }
  }


}

.boardCell{
  &--invalid{

    background-color: #da2727;
  }
  &--valid{

    background-color:#4652edeb;
  }

  &--placed{
    background-size: contain;
  }

}


.fleetContainer{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 6px;
  user-select: none;
  &__flexContainer{
    display: flex;
  }

  &__shipLenght{
    font-family: 'jotiOne';
    font-size: 64px;
    color: white;
    margin-left: 25px;
    user-select: none;
    &:first-of-type{
      margin-top: 1px;
    }
  }

  &__shipImage{
    @extend %shipImageContainer;
    &--loaded{
      @extend .fleetContainer__shipImage;
      cursor: grab;
      &:focus{
        filter: brightness(.4);
      }
      
      
    }
    
    &--placed{
      @extend %shipImageContainer;
      background-image: none;
      background-color: gray;
      cursor: default;
      
      filter: brightness(.05);
      &:focus{
        filter: brightness(.05);
      }
    }
  
  }
  
  &__shipName{
    font-size: 48px;
    font-family: 'jotiOne';
    color: white;
    background-color: #170E2E;
    border: 0px;
    height: 98px;
    width: 400px;
    user-select: none;
    text-decoration: underline solid;
    text-underline-position: under;
    margin-left: 39px;
    padding-bottom: 20px;
  }

}