$charSelBg: #E1A2D0;
$startBg: #19141F;
$shadowColor: rgba(0, 0, 0, 0.25);
$navBg: rgba(0,0,0,0.6);
$settingPageBg: #3B2772;

%outline{
  outline-offset: -5px;
  outline-width: 10px;
  outline-color: red;
}


%soundButtons{
  border: 0px;

  position: relative;
  background-color: transparent;
  cursor: pointer;
}

%soundButtonsSpanElement{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'inika';
  src: url('../assets/fonts/Inika-Regular.ttf');
}

@font-face {
  font-family: 'jotiOne';
  src: url('../assets/fonts/JotiOne-Regular.ttf');
}

@font-face {
  font-family: 'lemon';
  src: url('../assets/fonts/Lemon-Regular.ttf');
}


%nameText{
  font-size: 128px;
  color: white;
  font-family: 'inika';
  text-shadow: 0px 4px  4px $shadowColor;
}

%placeShipButtons{
  font-family: 'lemon';
  padding-bottom: 3px;
  font-size: 48px;
  color: white;
  border-radius: 9px;
  border: 0px;
  cursor: pointer;
  box-shadow: 0px 4px 4px $shadowColor;

}